GOOGLE_SHEETS_CLIENT_EMAIL=service-account@project-id.iam.gserviceaccount.com
GOOGLE_SHEETS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEETS_SPREADSHEET_ID=your_spreadsheet_id
GOOGLE_SHEETS_SHEET_NAME=Waitlist
GOOGLE_SHEETS_DAILY_ANALYTICS_SHEET_NAME=DailyAnalytics
GOOGLE_SHEETS_DAILY_WAITLIST_SHEET_NAME=DailyWaitlist
