GOOGLE_SHEETS_CLIENT_EMAIL=pjtheimdall@innate-octagon-490609-v8.iam.gserviceaccount.com
GOOGLE_SHEETS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nREPLACE_WITH_YOUR_SERVICE_ACCOUNT_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEETS_SPREADSHEET_ID=18SOnBn4bYvZ0UJDUWfhr9ZKfyg1S71IbtdLjJ1gLqBg
GOOGLE_SHEETS_SHEET_NAME=Waitlist
GOOGLE_SHEETS_DAILY_ANALYTICS_SHEET_NAME=DailyAnalytics
GOOGLE_SHEETS_DAILY_WAITLIST_SHEET_NAME=DailyWaitlist
GOOGLE_SHEETS_INTEREST_SHEET_NAME=InterestCounter
IP_HASH_SALT=f46a070513cc77e86cfc73df9fd7f3cd48bce303
